.benefits {
    @media screen and (min-width: 200px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding: initial;

        }

}

.benefits__item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);
    }
}


.benefits__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-font-color);
    @media screen and (max-width: 767px) {
        text-align: center;
        }
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondari-color);

}

.icon__box {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    gap: 30px;
}